/* Block hack specific css */

/*.page-wrap { width: 80%; margin: 60px auto; }
.page-wrap > div { margin: 0 0 0 0; min-width: 500px; width: 100%; }

.css-table { 
			display: table; 
}
.css-table .col { 
			display: table-cell; 
			width: 25%; 
			padding: 10px; 
}
*/

header.masthead {
  text-align: center;
  color: white;
  /*background-image: url("../img/header-bg.jpg");*/
  background-image: url("../img/header-bg-7.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size:contain;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section h3.section-subheading.subsection_bottom {
  margin-bottom: 15px;
}

img.bblogo {
  float: right;
}
img.tbhlogo {
  float: left;
}    

div.signup {
  float: right;
}
div.register {
  float: left;
}


@media (min-width: 992px) {

    ul.sponsor {
        list-style-type:none;
    }

    .header-logo-row {
        padding-top: 100px;
        padding-bottom: 1px;

    }
    section h3.section-subheading.subsection_bottom {
      margin-bottom: 15px;
    }

}

@media (min-width: 768px) {
    ul.sponsor {
        list-style-type:none;
    }

    .header-logo-row {
        padding-top: 100px;
        padding-bottom: 1px;

    }
    header.masthead .intro-text {
        padding-top: 0px;
        padding-bottom: 100px;
      } 
      section {
        padding: 50px 0;
      }
      section h3.section-subheading.subsection_bottom {
        margin-bottom: 15px;
      }
}
/* cell screen adjustment to header */
@media (max-width: 767px) {
  .header-logo-row {
    padding-top: 60px;
    padding-bottom: 1px;

  }
  img.bblogo {
    float: none;
    
  }
  img.tbhlogo {
    float: none;
  }
  
  header.masthead .intro-text {
    padding-top: 0px;
    /* padding-bottom: 100px;*/
    padding-bottom: 100px;
   }
   
   div.signup {
    float: none;
    padding-bottom: 2.5px;
  }
  div.register {
    float: none;
    padding-top: 2.5px;
  }
     

}
/*
 * jQuery Bootstrap Responsive Tabs v2.0.1 | Valeriu Timbuc - vtimbuc.com
 * github.com/vtimbuc/bootstrap-responsive-tabs
 * @license WTFPL http://www.wtfpl.net/about/
 */
 .responsive-tabs-container .tab-pane {
    margin-bottom: 15px;
  }
  .responsive-tabs-container .accordion-link {
    display: none;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #333;
  }
  @media (max-width: 767px) {
    .responsive-tabs-container.accordion-xs .nav-tabs {
      display: none;
    }
    .responsive-tabs-container.accordion-xs .accordion-link {
      display: block;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .responsive-tabs-container.accordion-sm .nav-tabs {
      display: none;
    }
    .responsive-tabs-container.accordion-sm .accordion-link {
      display: block;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .responsive-tabs-container.accordion-md .nav-tabs {
      display: none;
    }
    .responsive-tabs-container.accordion-md .accordion-link {
      display: block;
    }
  }
  @media (min-width: 1200px) {
    .responsive-tabs-container.accordion-lg .nav-tabs {
      display: none;
    }
    .responsive-tabs-container.accordion-lg .accordion-link {
      display: block;
    }
  }